<div class="home-container">
  <h1>Code7 Movies</h1>

  <app-trending-movie-card></app-trending-movie-card>
  <h3>Popular now</h3>
  <div class="top-movies-container">
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
  </div>
</div>
