.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.top-movies-container * {
  margin: auto;
}
