@import "../../../../color-theme.scss";

.card-container {
  display: flex;
  flex-direction: column;
  width: 140px;
  cursor: pointer;
  background-color: $surface;
  border-radius: 4px;
  margin-bottom: 12px;

  .movie-poster {
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .movie-info {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    padding: 8px;

    .movie-title {
      font-weight: bold;
    }

    .movie-genre {
      margin-top: 2px;
      font-weight: 200;
    }
  }
}

@media screen and (min-width: 738px) {
  .card-container {
    width: 280px;

    img.movie-poster {
      height: 380px;
    }
  }
}
