.page-content {
  justify-content: center;
  height: 100vh;
  margin-bottom: 500px;
}

app-navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 738px) {
  app-navbar {
    top: auto;
    left: auto;
    bottom: 0;
    width: 100%;
  }
}

@media screen and (min-width: 738px) {
  .page-content {
    margin: 0 100px 0 200px;
  }
}
