/* You can add global styles to this file, and also import other style files */
@import "./color-theme.scss";
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: $background;
}
